footer {
  margin-top: 30px;
  margin-right: 20px;
  hr{
    margin-top: 20px;
    background-color: #F0F0F1;
    width: 99%;
  }
  tr{
    display: flex;
    border-bottom: 1px solid #E0E0E2;
    margin-right: -20px;
  }
  td{
    width: 159px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F1;
    border-left: 1px solid #E0E0E2;
    cursor: pointer;
    img{
      width: 85px;
      height: 20px;
    }
  }
}
.footer_top {
  display: flex;
  img {
    width: 195px;
    height: 30px;
  }
  div {
    width: 138px;
    height: 40px;
    display: flex;
    justify-content: center;
    color: #a1a3a8;
    text-decoration: none;
    border: 1px solid #a1a3a8;
    border-radius: 8px;
    margin-right: 72%;
    align-items: center;
    img {
      width: 24px;
      height: 24px;
    }
  }
}
.support_num {
  display: flex;
  align-items: center;
  gap: 10px;
  p {
    color: #3f4064;
  }
  span {
    width: 1px;
    height: 10px;
    background-color: #a1a3a8;
  }
}
.footer_svgs {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0;
  gap: 100px;
  div {
    display: flex !important;
    width: max-content;
    flex-flow: column;
    justify-content: center !important;
    cursor: pointer;
    img {
      margin: 0 auto;
      width: 56px;
      height: 56px;
    }
    p {
      color: #3f4064;
      font-size: 1rem;
      font-weight: 100 !important;
    }
  }
}
.footer_options {
  display: flex;
  gap: 130px;
  a {
    text-decoration: none;
    color: #81858b;
    font-size: 1rem;
    display: block;
    margin: 10px 0;
  }
  p {
    font-size: 1.2rem;
    color: #3f4064;
    margin: 10px 0;
  }
}
.sotial_media_svgs {
  display: flex;
  gap: 40px;
  img {
    cursor: pointer;
    width: 35px;
    height: 35px;
  }
}
.digi_app {
  width: 1215px;
  height: 76px;
  background-color: #3a4869;
  border-radius: 8px;
  display: flex;
  align-items: center;
   {
  }
  padding: 0 10px;
  img {
    width: 44px;
    height: 44px;
  }
  h3 {
    color: white;
    margin-right: 10px;
    user-select: none;
  }
}
.app_svgs {
  margin-right: 40%;
  display: flex;
  gap: 10px;
  img {
    border-radius: 4px;
    width: 142px;
    height: 44px;
    background-color: white;
    cursor: pointer;
  }
}
.last_svg {
  width: 43px !important;
}

.error-message {
  color: red !important;
}
.submit {
  border: none;
  border-radius: 7px;
  padding: 10px 1rem;
  background: #ccc;
  color: #fff;
  margin-right: 10px;
}
button.active {
  color: #fff;
  background: #f00;
  cursor: pointer;
}
button.active:active {
  transform: scale(0.95);
}
.content-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.info-box {
  width: 50%;
}
.info-text {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  height: 95px;
  padding: 1rem 0;
  position: relative;
  color: #A3A6AA;
  h2{
    color: #62666D;
    margin-bottom: 5px;
  }
  h3{
    margin: 5px 0;
    color: #81858B;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 -1rem 1rem 0 #fff;
  }
}

.toggle-btn {
  margin-top: 1rem;
  color: #008EB2;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background: transparent;
  display: flex;
  img{
    width: 18px;
    height: 18px;
  }
}
.content-box{
  display: flex;
  justify-content: start;
  flex-flow: row-reverse;
}
.info_imgs{
  display: flex;
  gap: 8px;
  margin-right: 150px;
  flex-flow: row-reverse;
  position: absolute;
  right: 50%;
  top: 15px;
  div{
    width: 108px;
    height: 108px;
    border: 1px solid #E0E0E2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    img{
      width: 75px;
      height: 75px; 
    }
  }
}
.submit-form{
  display: flex;
}
.fan_avazeh{
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    color: #81858B;
    font-size: 1rem;
  }
}
.email_box_parent{
  width: 264px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F0F1;
  border-radius: 8px;
  input{
    width: 248px;
    height: 32px;
    border: none;
    background-color: transparent;
    caret-color: #f00;
    outline: none;
  }
}