* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 400px;
    height: 440px;
    background-color: aqua;
    margin: 60px auto;
    border-radius: 1rem;
}