.story{
    width: inherit;
    height: 140px;
    display: flex;
    h5{
        margin-right: 3.5px;
    }
}
.super_fix{
    width: 128px;
    height: 53px;
    position: fixed;
    bottom: 20px;
    z-index: 100;
    right: 88%;
    a{
        width: inherit;
        height: inherit;
        background-color: #029A49;
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        border-radius: 28px;
        img{
            width: 28px;
            height: 28px;
        }
    }
}
.support_fix{
    width: max-content;
    height: max-content;
    position: fixed;
    bottom: 20px;
    z-index: 100;
    right: 3%;
    a{
        width: 48px;
        height: 48px;
        background-color: #EF4056;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2.5rem;
        img{
            width: 23px;
            height: 23px;
        }
    }
}
.icons{
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 25px;
    a{
        text-decoration: none;
        color: #3F4064;
        width: 50px;
        text-align: center;
    }
    img{
        width: 52px;
        height: 52px;
    }
}
.more_icons{
    background-color: #F0F0F1;
    width: 52px;
    height: 52px;
    border-radius: 2.5rem;
    margin-bottom: 7px;
    img{
        width: inherit;
        height: inherit;
    }
}