.story{
    width: inherit;
    height: 140px;
    display: flex;
    h5{
        margin-right: 3.5px;
    }
}
.super_fix{
    width: 128px;
    height: 53px;
    position: fixed;
    bottom: 20px;
    z-index: 100;
    right: 88%;
    a{
        width: inherit;
        height: inherit;
        background-color: #029A49;
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        border-radius: 28px;
        img{
            width: 28px;
            height: 28px;
        }
    }
}
.support_fix{
    width: max-content;
    height: max-content;
    position: fixed;
    bottom: 20px;
    z-index: 100;
    right: 3%;
    a{
        width: 48px;
        height: 48px;
        background-color: #EF4056;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2.5rem;
        img{
            width: 23px;
            height: 23px;
        }
    }
}
.icons{
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 25px;
    a{
        text-decoration: none;
        color: #3F4064;
        width: 50px;
        text-align: center;
    }
    img{
        width: 52px;
        height: 52px;
    }
}
.more_icons{
    background-color: #F0F0F1;
    width: 52px;
    height: 52px;
    border-radius: 2.5rem;
    margin-bottom: 7px;
    img{
        width: inherit;
        height: inherit;
    }
}
.main_ads{
    width: 100%;
    margin: 0 22px;
    display: flex;
    gap: 10px;
    a{
        width: 298px;
        height: 224px;
        img{
            border-radius: 16px;
            width: inherit;
            height: inherit;
        }
    }
}
.super_ad_index{
    width: 1140px;
    height: 110px;
    margin: 25px;
    padding: 0 40px;
    background-color: #EBEEED !important;
    border-radius: 16px;
    background: url(../svgs/freshPattern.svg) no-repeat left / 50% 100%;
    a{
        height: inherit;
        display: flex;
        align-items: center;
        text-decoration: none;
    }
}
.buy_by_sorting_text{
    font-weight: 500;
    font-size: 2.1rem;
    justify-self: center;
    margin: 50px 0;
}
.super_logo_ad{
    width: 66px;
    height: 62px;
}
.super_ad_imgs{
    display: flex;
    align-items: center;
    gap: 30px;
}
.super_amazing_ad{
    width: 250px;
    height: 28px;
}
.super_discount_ad{
    width: 109px;
    height: 28px;
    background-color: #029A49;
    border-radius: 28px;
    color: white;
    display: flex;
    justify-content: center;
}
.super_ad_products{
    display: flex;
    margin-right: 60px;
    gap: 10px;
    position: relative;
    div{
        width: 58px;
        height: 58px;
        img{
            width: inherit;
            height: inherit;
            border-radius: 2.5rem;
        }
    }
}
.super_ad_red_discount{
    width: 40px !important;
    height: 20px !important;
    color: white;
    background-color: #D32F2F;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    position: absolute;
    bottom: 0.5px;   
}
.super_ad_end{

}