.slider {
  width: 100%;
  position: relative;
  height: 400px;
}

.slider .swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: brown;
  border-radius: 0;
  width: 100% !important;
  height: inherit;
  img{
    width: inherit;
    height: inherit;
  }
}

.custom-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -10px auto 0;
  position: relative;
  z-index: 100;
  text-align: center;
}

.custom-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 10rem;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}

.swiper-pagination-bullet-active {
  width: 20px !important;
  border-radius: 10px !important;
  background-color: aliceblue !important;
}

.next-nav, .prev-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 5px;
  border-radius: 50%;
  transition: transform 0.3s;
  cursor: pointer;
  background-color: white;
}

.next-nav {
  position: absolute;
  right: 5.5rem;
  z-index: 100;
  bottom: 1.5rem;
}
.prev-nav {
  position: absolute;
  right: 3rem;
  z-index: 100;
  bottom: 1.5rem;
}

.next-nav:active, .prev-nav:active {
  transform: scale(0.9);
}
