.story .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center !important;
  width: 85px !important;
  height: 150px !important;
  border-radius: 100%;
  cursor: pointer;
  h5 {
    width: 100%;
    text-align: center;
    color: #23254e88 !important;
  }
}
.story {
  width: 95% !important;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 7px !important;
}
.story .swiper-wrapper {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.slide {
  padding: 3px;
  border: 3px solid #8c499c;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  object-fit: contain;
  background: white;

  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}
.story {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}
.next {
  position: absolute;
  bottom: 25%;
  transform: translateY(50%);
  left: 1rem;
}
.prev {
  position: absolute;
  bottom: 25%;
  transform: translateY(50%);
  right: 1rem;
}
.next,
.prev {
  border: none;
  outline: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-size: larger;
  box-shadow: 1px 1px 3px #000;
  cursor: pointer;
  z-index: 1;
  bottom: 50%;
}
.next:active,
.prev:active {
  scale: 0.97;
}

.amazing_swiper {
  margin: 25px !important;
  border-radius: 20px;
  background-color: #da304e;
  width: 100%;
}
.swiper {
  user-select: none;
}
.amazing_swiper .swiper-wrapper {
  display: flex;
  justify-content: start !important;
  align-items: center;
  width: max-content;
  height: 340px;
}
.amazing_swiper .swiper-slide {
  background: #ffffff;
  text-align: center;
  height: 294px;
  cursor: pointer;
}
.slide_one {
  background-color: transparent !important;
  margin-right: 5px;
  img {
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto;
  }
}
.amazing_logo {
  display: flex;
  width: inherit;
  justify-content: center;
}
.time {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-top: 10px;
}
.time_box {
  width: 26px;
  height: 26px;
  background-color: #ffffff;
  border-radius: 4px;
  color: #23254e;
}
.discount {
  margin-top: 10px;
}
.amazing_down {
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  img {
    width: 18px;
    height: 18px;
    margin: 0;
  }
}
.slide_main {
  width: max-content;
  color: #3f4064ff;
  img {
    width: 132px;
  }
  del {
    color: #c0c2c5;
    position: relative;
    top: 25px;
  }
}
.amazing_price {
  display: flex;
  direction: ltr;
  margin-top: 20px;
}
.toman {
  display: flex;
  direction: ltr;
  margin-left: 10px;
  img {
    width: 16px !important;
  }
}
.amazing_discount {
  direction: rtl;
  width: 100%;
  position: absolute;
  right: 6px;
}
.amazing_discount_num {
  width: 40px;
  height: 20px;
  background-color: #da304e;
  margin-left: 10px;
  border-radius: 28px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.amazing_text {
  font-size: smaller;
  text-align: start;
}
.amazing_last_slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  flex-flow: column;
  h4 {
    margin-top: 15px;
    font-weight: 100;
    color: #3f4064bb;
  }
}
.amazing_last_border {
  width: 51px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #36c7d8;
  border-radius: 2.5rem;
}
.first_radius {
  border-radius: 0 10px 10px 0;
}
.amazing_offer_logo {
  display: flex;
  justify-content: start;
  padding: 10px;
  img {
    width: 116px;
    height: 14px;
  }
}
.super_amazing_more {
  text-decoration: none;
  margin-top: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 40px;
  width: 121px;
  margin: 0 auto;
  border: 1px solid #ffffff;
  border-radius: 8px;
  img {
    width: 18px;
    height: 18px;
    margin: 0;
  }
}
.offer_first {
  width: 209px !important;
}
.super_offer_img {
  img {
    width: 150px;
    height: 150px;
  }
}
.super_amazing_plus {
  border: 1px solid #05ba58;
  border-radius: 2.5rem;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15px;
  top: 40%;
}
.super_price {
  margin-top: 80px;
  img {
    width: 14px;
    height: 14px;
    margin: auto 0;
  }
}
.super_toman {
  font-size: larger;
  font-weight: 400;
}
.super_del {
  color: #c0c2c5;
  display: flex;
  justify-content: end;
  margin-left: 30px;
  font-size: smaller;
}
.super_timer {
  color: #ef4056;
  font-size: small;
  display: flex;
  justify-content: left;
  margin-left: 15px;
}
.amazing_main {
  width: 192px !important;
  height: 386px !important;
  border-radius: 8px;
}
.next-btn,
.prev-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 5px;
  border-radius: 50%;
  transition: transform 0.3s;
  cursor: pointer;
  background-color: white;
  z-index: 100;
  position: absolute;
  bottom: 50%;
  transform: translateY(-50%, 0);
}

.next-btn {
  left: 2rem;
}
.prev-btn {
  right: 1rem;
}

.next-btn:active,
.prev-btn:active {
  transform: scale(0.9);
}
.buy_by_sorting_swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  .swiper-wrapper {
    display: flex;
    width: max-content;
    height: 328px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: calc((100% - 30px) / 2) !important;
    /* Center slide text vertically */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 132px !important;
    cursor: pointer;
    a{
      width: inherit;
      /* height: inherit; */
      text-decoration: none;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      color: #0C0C0C;
    }
    img {
      width: 100px;
      height: 100px;
    }
    h6 {
      font-weight: 600 !important;
      margin-top: 8px;
      color: #0C0C0C;
    }
  }
}
.famous_swiper {
  width: 100%;
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 142px !important;
    height: 118px;
    border-left: 1px solid #F0F0F1;
    margin: 0 !important;
    img{
      width: 110px;
      height: 110px;
    }
  }
  .swiper-wrapper {
    width: 100% !important;
    height: 100%;
  }
}
.last{border: none !important;margin: 0 !important;}
.green .swiper-wrapper{
  height: 442px;
}
.main_swiper{
  height: 360px !important;
  width: 100%;
  .swiper-slide {
    width: 216px !important;
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit !important;
      cursor: pointer;
      border-left: 1px solid #44474633;
    } 
}